@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

.my-custom-font {
  font-family: "MyCustomFont", EB Garamond;
}


/* input[type="radio"][value="red"] + label::before {
  background-color: red;
}

input[type="radio"][value="blue"] + label::before {
  background-color: blue;
}

input[type="radio"][value="black"] + label::before {
  background-color: black;
}

input[type="radio"][value="green"] + label::before {
  background-color: green;
}

input[type="radio"][value="pink"] + label::before {
  background-color: pink;
} */